<div style="text-align: center">
  <mat-card class="form-container">
    <mat-card-title>Login</mat-card-title>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="login-form"
      autocomplete="off"
    >
      <mat-form-field appearance="outline" class="form-element">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-element">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-card>
</div>
