<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="currentUser.username">
      <a mat-list-item [routerLink]="['/index']">Home</a>
      <a mat-list-item [routerLink]="['/index/projects']">All Projects</a>
      <a
        mat-list-item
        [routerLink]="['/index/user/' + currentUser._id]"
        [queryParams]="{ show: '0' }"
        >Assigned Projects</a
      >
      <a
        mat-list-item
        [routerLink]="['/index/user/' + currentUser._id]"
        [queryParams]="{ show: '1' }"
        >Submitted Tickets</a
      >
      <a
        mat-list-item
        [routerLink]="['/index/user/' + currentUser._id]"
        [queryParams]="{ show: '2' }"
        >Assigned Tickets</a
      >
      <a
        mat-list-item
        *ngxPermissionsOnly="['Admin']"
        [routerLink]="['/index/admin/']"
        >Manage Users</a
      >
    </mat-nav-list>
    <mat-nav-list *ngIf="!currentUser.username">
      <a mat-list-item [routerLink]="['/login']">Login</a>
      <a mat-list-item [routerLink]="['/register']">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="z-index: 1000; font-size: 16px" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        Logged in as:
        <span
          style="color: #e6c34c; cursor: pointer"
          [routerLink]="['/index/user/' + currentUser._id]"
          >{{ currentUser.username }}</span
        ></span
      >
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <span>User Actions</span>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          [routerLink]="['/index/user/' + currentUser._id + '/edit']"
          mat-menu-item
        >
          <mat-icon>manage_accounts</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
