a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.assign-table {
  width: 100%;
}

.assign-table-container {
  max-height: 239px;
  overflow: auto;
  z-index: 150;
  margin-top: 1px;
}

.comment-info-container {
  background-color: #f6f8fa;
  border-radius: 25px;
}

.message {
  border: 1px solid #f6f8fa;
  padding: 10px;
  border-radius: 25px;
}

/* Handy CSS trick to ensure image maintains aspect ratio */
img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

/* Styling for image container */
.image-container {
  max-width: 500px;
}
